@import url('https://fonts.googleapis.com/css2?family=Sansation&family=Space+Mono&family=Tomorrow:wght@500&display=swap');

body {
    background-color: #151515;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

/* Título da página */
.page-title {
    color: #3a24d9;
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 80px;
    text-align: center;
}

/* Texto padrão caso utilizado */
p {
    color: #cfcfcf;
    font-size: 1.05rem;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Botão secundário no estilo padrão */
.btn-secondary-custom {
    background-color: #1b6a18;
    border: none;
    transition: 0.2s;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-secondary-custom:hover {
    background-color: #268a23;
    transform: scale(1.10);
}

/* Links */
a {
    color: #4b33ff;
    text-decoration: none;
    font-family: "Space Mono", monospace;
}

a:hover {
    text-decoration: underline;
}

.tabela-clientes {
    width: 100%;
    max-width: 800px; 
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    font-family: "Space Mono", monospace;
}

/* Cabeçalho */
.tabela-clientes th {
    background-color: #3a24d9;
    color: white;
    padding: 14px;
    font-size: 1rem;
    text-align: left;
}

/* Células */
.tabela-clientes td {
    padding: 12px;
    border-bottom: 1px solid #333;
    color: #e0e0e0;
}

/* Última linha sem borda */
.tabela-clientes tr:last-child td {
    border-bottom: none;
}

/* Efeito hover */
.tabela-clientes tr:hover {
    background-color: #2c2c2c;
    transition: 0.2s;
}

.tabela-clientes tr td a img {
    width: 30px; /* tamanho fixo adequado para ícones */
    height: auto;
    cursor: pointer;
}
